<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.4/dist/js/uikit-icons.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<section class="uk-section uk-section-large ">
    <div class="uk-container">
        <div class="uk-grid-match uk-child-width-expand" uk-grid>
            <div class="uk-width-large">


                <h1>Premium video meetings. Now free for everyone.</h1>
                <h4 class="uk-text-muted">We re-engineered the service we built for secure business meetings, Google Meet, to make it free and available for all.</h4>

                <div class="uk-grid-small uk-margin-large" uk-grid>
                    <div class="uk-width-expand">
                        <input type="text" id="room-input" class="uk-input uk-border-rounded" placeholder="Meeting Room">
                    </div>
                    <div>
                        <button type="button" id="start-btn" class="uk-button uk-button-primary uk-border-rounded">Start</button>
                    </div>
                </div>
            </div>
            <div></div>
            <div class="uk-width-large uk-flex-middle">
                <div uk-slideshow="animation: push; ratio:1:1">

                    <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1">

                        <ul class="uk-slideshow-items">
                            <li class="uk-border-circle">
                                <img src="https://picsum.photos/400/400" alt="" uk-cover>
                            </li>
                            <li class="uk-border-circle">
                                <img src="https://picsum.photos/410/410" alt="" uk-cover>
                            </li>
                            <li class="uk-border-circle">
                                <img src="https://picsum.photos/405/405" alt="" uk-cover>
                            </li>
                        </ul>
                    </div>

                    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

                </div>
            </div>
        </div>
    </div>
</section>
<script>
  document.querySelector("#start-btn").addEventListener("click", ()=>{
      let room = document.querySelector("#room-input").value;
      if(room==""){
          alert("invalid room");
          return
      };
    window.location.href = `/${room}`;
  })
</script>
</body>
</html>


