*{
  box-sizing: border-box;
}
html{
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

#videos {
  width: 100%;
  bottom: 0;
  left: 0;
  overflow-x: auto;
  display: flex;

  .video-thumb {
    border: 1px solid rgba(0, 0, 0, 0.03);
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    width: 100px;
    height: 70px;
    margin-right: 10px;
    border-radius: 3px;
    overflow: hidden;

    video {
      border-radius: 3px 3px 0 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 1px 3px;
      font-size: 9px;
      display: block;
      border-bottom: 1px solid rgba(0, 0, 0, 0.03);
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      backdrop-filter: blur(5px);
    }

    button {

    }
  }
  .video-thumb:hover {
    border-color: #0460be;
    cursor: pointer;
  }
  .video-thumb:nth-last-child(1){
    right: 0;
  }
}
