*{
  box-sizing: border-box;
}
html{
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

#videos{
  background-color: rgba(0,0,0,0.5);
  backdrop-filter: blur(5px);
  width: 200px;
  overflow-y: auto;
}

.video-thumb{
  border: 1px solid rgba(0,0,0,0.03);
  background: rgba(255, 255, 255, 0.5);
  position: relative;
  video{
    border-radius: 3px 3px 0 0 ;
  }
  label {
    color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(2px);
    width: 100%;
    padding: 3px 5px;
    font-size: 12px;
    display: block;
  }
  button{

  }
}
.video-thumb:hover{
  border-color: #0460be;
  cursor: pointer;
}
