*{
  box-sizing: border-box;
}
html{
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}
#bigView{
  object-fit: contain;
}
#videos {
  width: 100%;
  bottom: 60px;
  left: 0;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;

  .video-thumb {
    position: relative;
    min-width: 150px;
    max-width: 150px;
    height: 100px;
    margin-right: 10px;
    overflow: hidden;
    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    label {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 1px 3px;
      font-size: 9px;
      display: block;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
      backdrop-filter: blur(5px);
    }
    button {

    }

    .audio-muted{
      display: none;
    }
  }
  .video-thumb.audio_muted .audio-muted{
    display: block;
    position: absolute;
    left: 3px;
    bottom: 3px;
    color: red;
    font-size: 12px;
  }
  .video-thumb:hover {
    border-color: #0460be;
    cursor: pointer;
  }
  .video-thumb:nth-last-child(1){
    right: 0;
  }
}

.controller-container{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: rgba(0,0,0,0,0.5);

  & > button{
    height: 100%;
    min-width: 40px;
    border: none;
    display: inline-block;
    margin-right: 10px;
  }
  & > button:nth-last-child(1){
    margin-right: 0;
  }
}
